{
    "extends": [
        "airbnb-typescript",
        "airbnb/hooks",
        "plugin:@typescript-eslint/recommended",
        "plugin:jest/recommended",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "plugins": ["react", "@typescript-eslint", "jest", "import"],
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "rules": {
        "max-len": [
            "error",
            {
                "code": 120
            }
        ],
        "prefer-promise-reject-errors": ["off"],
        "react/jsx-filename-extension": ["off"],
        "react/jsx-props-no-spreading": ["off"],
        "react/prop-types": "off",
        "react/no-unescaped-entities": "off",
        "react/jsx-one-expression-per-line": "off",
        "@typescript-eslint/no-return-assign": ["off"],
        "no-plusplus": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "no-unused-vars": "off",
        "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
        "no-bitwise": "off",
        "no-console": "off",
        "jsx-a11y/media-has-caption": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "@typescript-eslint/indent": ["error", 4],
        "import/prefer-default-export": "off"
    }
}
